<!--views/site/map.ejs-->
<!DOCTYPE HTML>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
     <link href='http://fonts.googleapis.com/css?family=Gochi+Hand' rel='stylesheet' type='text/css'>
     <style>
     h1 {
          font-family: 'Gochi Hand';
          font-size: 50px;
        }

      body {
        background-color: #1abc9c;
      }
     </style>
</head>
<body>
<h1>Here's where I am</h1>
<iframe width="600" height="450" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=225%20Bush%20Street%2C%20San%20Francisco%2C%20CA%2C%20United%20States&key=AIzaSyDLXbINdv_n-RCaZxXOJe5A2fucldTfUTw"></iframe>

</body>
</html>