<!--views/site/map.ejs-->
<!DOCTYPE HTML>
<html>
<body>
<h1>Map Page</h1>
<iframe width="600" height="450" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=225%20Bush%20Street%2C%20San%20Francisco%2C%20CA%2C%20United%20States&key=AIzaSyDLXbINdv_n-RCaZxXOJe5A2fucldTfUTw"></iframe>

</body>
</html>